* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  letter-spacing: 0.08rem;
  line-height: 2.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  margin: 0 auto;
}
@media ( max-width: 530px )  {
  .home {
    display: inline-block;
    width: 100%;
  }
}
.home .content-section {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media ( max-width: 530px )  {
  .home .content-section {
    display: inline-block;
    width: 100%;
  }
}
.home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
@media ( max-width: 530px )  {
  .home .content-section .text-content {
    width: 100%;
  }
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
@media ( max-width: 530px )  {
  .home .content-section .img-content {
    width: 100%;
    display: inline-block;
    padding: 0%;
  }
}
.home .content-section .img-content img {
  width: 100%;
  border-radius: 20px;
}
@media ( max-width: 530px )  {
  .home .content-section .img-content img {
    width: 100%;
    display: inline-block;
  }
}
.home .inverse-content {
  padding-bottom: 30px;
  border-bottom: 2px dashed #C0C0C0;
}
@media ( max-width: 530px )  {
  .home .inverse-content {
    display: flex;
    flex-direction: column-reverse;
  }
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
.home .content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
@media ( max-width: 530px )  {
  .home .content-destination {
    width: 100%;
    margin: 0%;
  }
}
.home .content-destination img {
  border-radius: 10px;
}
.home .content-pick {
  padding-top: 30px;
  border-top: 2px dashed #C0C0C0;
  display: flex;
  justify-content: space-between;
}
@media ( max-width: 530px )  {
  .home .content-pick {
    display: inline-block;
    width: 100%;
  }
}
.home .content-pick .destination {
  width: 35%;
  margin-bottom: 30px;
}
@media ( max-width: 530px )  {
  .home .content-pick .destination {
    width: 100%;
    display: inline-block;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.footer {
  width: 100%;
  border-top: 3px dashed silver;
  background: #FFEBCD;
}
.footer p {
  letter-spacing: 0.03rem;
  text-align: center;
  color: #212529;
  font-size: 1.4rem;
  padding: 20px;
}
body header {
  align-content: space-between;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2.5% 4%;
}
body header h1 {
  border-radius: 5%;
  animation-name: font-size;
  animation-duration: 10s;
  font-family: 'Indie Flower', cursive;
  font-size: 2.5rem;
  width: 30%;
}
@keyframes font-size {
  0% {
    background-color: red;
    font-size: 1.5rem;
  }
  25% {
    background-color: #5448f1;
    font-size: 2.5rem;
  }
  50% {
    background-color: palevioletred;
    font-size: 3.5rem;
  }
  100% {
    background-color: #51ff00;
    font-size: 4.5rem;
  }
}
@media ( max-width: 530px )  {
  body header h1 {
    width: 100%;
    text-align: center;
    font-size: 1.65rem;
  }
}
body header nav {
  padding: 0 2%;
  width: 50%;
  align-content: space-between;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}
@media ( max-width: 530px )  {
  body header nav {
    align-content: space-between;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
  }
}
body header nav a {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  text-decoration: none;
  color: black;
  animation-name: newfont;
  animation-duration: 10s;
}
@keyframes newfont {
  0% {
    color: #ff00dd;
    font-size: 1.5rem;
  }
  25% {
    color: #97084f;
    font-size: 2.5rem;
  }
  50% {
    color: #5227b6;
    font-size: 3.5rem;
  }
  100% {
    color: #f3aeea;
    font-size: 4.5rem;
  }
}
@media ( max-width: 530px )  {
  body header nav a {
    font-size: 1rem;
    color: black;
  }
}
body .pics {
  border-top: 3px dashed #C0C0C0;
  align-content: space-between;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
body .pics .bus {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
@media ( max-width: 530px )  {
  body .pics .bus {
    width: 90%;
  }
}
body .pics .bus img {
  width: 100%;
}
body .pics h1 {
  margin-top: 1.5%;
  width: 80%;
  font-family: 'Indie Flower', cursive;
  font-size: 2.5rem;
  align-content: flex-start;
}
@media ( max-width: 530px )  {
  body .pics h1 {
    width: 90%;
    font-size: 1.65rem;
  }
}
body .pics p {
  margin: 1.5% 0;
  line-height: 1.6;
  font-size: 1.15rem;
  width: 80%;
  font-family: 'DM Mono', monospace;
}
@media ( max-width: 530px )  {
  body .pics p {
    width: 90%;
    font-size: 0.85rem;
    margin-bottom: 2%;
  }
}
body .home {
  border-top: 3px dashed #C0C0C0;
  width: 80%;
  align-content: space-between;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
@media ( max-width: 530px )  {
  body .home {
    margin-top: 1.5%;
    width: 90%;
    border: 1.5px dasehd #C0C0C0;
    align-content: space-between;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media ( max-width: 530px )  {
  body .home .content-section {
    width: 100%;
    margin: 0;
  }
}
body .home .content-section .text-content {
  justify-content: space-around;
}
@media ( max-width: 530px )  {
  body .home .content-section .text-content {
    width: 100%;
  }
}
body .home .content-section .text-content h2 {
  padding-top: 1.15rem;
  font-family: 'Indie Flower', cursive;
  font-size: 2.5rem;
}
@media ( max-width: 530px )  {
  body .home .content-section .text-content h2 {
    font-size: 1.65rem;
    margin-bottom: 1.5%;
  }
}
body .home .content-section .text-content p {
  line-height: 1.7;
  width: 100%;
  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;
}
@media ( max-width: 530px )  {
  body .home .content-section .text-content p {
    font-size: 0.85rem;
  }
}
body .home .img-content {
  padding: 1.15rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
}
body .home .content-destination {
  margin-top: 2%;
}
@media ( max-width: 530px )  {
  body .home .content-destination {
    margin-top: 1.6%;
  }
}
body .home .content-destination h2 {
  justify-content: flex-start;
  font-family: 'Indie Flower', cursive;
  font-size: 2.5rem;
  margin: 1.5% 0;
}
@media ( max-width: 530px )  {
  body .home .content-destination h2 {
    font-size: 1.3rem;
  }
}
body .home .content-destination p {
  letter-spacing: 1;
  width: 100%;
  line-height: 1.5rem;
  margin-bottom: 1.5%;
  padding-right: 0%;
  font-size: 1rem;
}
@media ( max-width: 1366px ) {
  body .home .content-destination p {
    font-size: 1.3rem;
  }
}
body .home .content-destination img {
  width: 100%;
}
body .home .content-pick {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-evenly;
}
@media ( max-width: 530px )  {
  body .home .content-pick {
    width: 85%;
    align-content: space-between;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
body .home .content-pick .destination h4 {
  font-family: 'Indie Flower', cursive;
  font-size: 2.5rem;
  font-size: 1.9rem;
  margin: 1.5% 0;
}
@media ( max-width: 530px )  {
  body .home .content-pick .destination h4 {
    font-size: 1.3rem;
  }
}
body .home .content-pick .destination p {
  padding-right: 2.5rem;
  font-size: 1.3rem;
  line-height: 1.5;
  margin-bottom: 1.7%;
}
@media ( max-width: 530px )  {
  body .home .content-pick .destination p {
    font-size: 1rem;
  }
}
body .home .content-pick .destination .btn {
  animation-name: color;
  animation-duration: 15s;
  color: #FFFFFF;
  border-radius: 15px;
  padding: 5%;
  text-align: center;
  width: 65%;
  font-size: 1.3rem;
  font-family: 'DM Mono', monospace;
  background-color: #0a6b72f6;
}
@keyframes color {
  0% {
    background-color: #90f34e;
  }
  25% {
    background-color: #5ebcf3;
  }
  50% {
    background-color: blue;
  }
  75% {
    background-color: blueviolet;
  }
  100% {
    background-color: cyan;
  }
}
@media ( max-width: 530px )  {
  body .home .content-pick .destination .btn {
    width: 100%;
    background-color: #17A2B8;
    font-size: 1rem;
    margin-bottom: 0;
  }
}
body .footer {
  animation-name: color;
  animation-duration: 15s;
}
@keyframes color {
  0% {
    background-color: #90f34e;
  }
  25% {
    background-color: #5ebcf3;
  }
  50% {
    background-color: blue;
  }
  75% {
    background-color: blueviolet;
  }
  100% {
    background-color: cyan;
  }
}
@media ( max-width: 530px )  {
  body .footer p {
    font-size: 1rem;
  }
}
